@use "./design" as *;

.#{$namespace}-table {
  height: 100%;
  display: flex;
  flex-direction: column;

  &-top-wrapper {
    flex: 1 1 0;
    flex-shrink: 0;
    overflow: hidden;
  }

  &-bottom-wrapper {
    height: 50px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    background: #fff;
  }

  .el-table {
    &.#{$namespace}-table-wrapper {
      height: 100%;
    }
  }

  .el-table__header {
    .el-table__cell {
      background: #f7f7f7;
      padding-top: 12px;
      padding-bottom: 12px;

      .cell {
        font-size: 12px;
        font-weight: 500;
        white-space: nowrap;
        color: #999;
        padding-left: 10px;
        padding-right: 10px;
        line-height: 1;
      }
    }
  }

  .el-table__body-wrapper {
    overflow-y: auto;

    .el-table__body {
      .el-table__row {
        .el-table__cell {
          padding-top: 15px;
          padding-bottom: 15px;
          line-height: 1;
          border-bottom-color: #eee;
          height: auto;

          .cell {
            font-size: 14px;
            font-weight: 400;
            color: #606266;
            padding-left: 10px;
            padding-right: 10px;

            .el-button {
              &.is-link {
                padding: 0;
                height: auto;
                color: #1a66b3;
              }
            }
          }
        }
      }
    }

    &.el-table__empty-text {
      line-height: 20px;
    }
  }
}
